.flightBookingFormBaseContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flightBookingFormsContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}
.flightBookingFormAddBaseContainer{
    display: flex;
    justify-content: space-between;
}

.flightBookingFormGridBaseContainer{
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;
}
.flighBookingFormGrid{
    display: flex;
    flex-direction: column;
    gap: 5px;
}