.checkoutBaseContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkoutContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}
.checkoutGridBaseContianer{
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.checkoutGridContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}