.checkoutBaseContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkoutContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.checkoutGridBaseContianer {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.checkoutGridContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkoutPayButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
