.checkoutBaseContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkoutContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.checkoutGridBaseContainer {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.checkoutGridContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkoutPayButton {
  width: 100%;
  font-weight: bold;
  padding: 25px 70vh 0px 70vh;
}
