.customNavbarBaseContainer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--baseColor);
}
.threeLineIcon {
  display: none;
  color: var(--whiteColor);
}

.customNavbarLogoContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.customNavbarLogoBaseContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--whiteColor);
}
.customNavbarBaseContainer:hover {
  cursor: pointer;
}

.customNavbarLogoBaseContainer .aeroPlaneIcon {
  transition: 0.8s ease-in-out;
  color: var(--secondaryColor);
}

.customNavbarLogoBaseContainer .aeroPlaneIcon:hover {
  transform: translateX(100px);
  opacity: 0;
}

.customNavbarLinkContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.customNavbarLinkContainer p {
  font-size: 18px;
  color: var(--whiteColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.customNavbarLinkContainer p:hover {
  color: var(--secondaryColor);
  font-weight: bold;
}

.customNavbarProfileContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.customNavbarProfile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.customNavbarProfileIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryColor);
  color: var(--baseColor);
  font-weight: bold;
  font-size: 18px;
}
.customNavbarDropdownContainer {
  position: absolute;
  top: 120%;
  right: 0;
  background: var(--whiteColor);
  z-index: 1;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px #00000033;
}
.customNavbarDropdownProfileContainer {
  padding: 10px 20px;
  border-bottom: 1px solid var(--grayColor);
}
.customNavbarDropdownLogoutContainer {
  padding: 10px 20px;
}

.customNavbarProfileButtonContainer {
  display: flex;
  gap: 10px;
}
.customSideNavbarBaseContainer {
  display: none;
}
/* Tablet Device */
@media (max-width: 1024px) {
  .customNavbarLinkContainer {
    display: none;
  }
  .threeLineIcon {
    display: flex;
  }
  .customNavbarProfileButtonContainer {
    display: none;
  }
  .customSideNavbarBaseContainer {
    display: flex;
    position: absolute;
    /* opacity: 0; */
    top: 12%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: var(--blackColorDim);
    backdrop-filter: blur(20px);
  }
  .customSideNavbarLinks {
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--whiteColor);
  }
}
/* Standard Mobile */
@media (max-width: 768px) {
}
/* Small Device */
@media (max-width: 480px) {
}
