.customNavBarBaseContainer {
  width: 100%;
  display: flex;
  padding: 20px 40px;
  background-color: var(--baseColor);
}
.navbarLogoContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbarLogoBaseContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--whiteColor);
}

.navbarLogoBaseContainer .aeroPlaneIcon {
  transition: 0.5s ease-in-out;
  color: var(--secondaryColor);
}
.customNavBarLinkContainer {
}
.customNavBarProfileContainer {
}
