.RegisterPageBaseContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--baseColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.RegisterPageContentCardBaseContainer{
    width: 80%;
    height: 80%;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--whiteColor);
}
.RegisterPageContentContainer{   
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.RegisterPageHeaderContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.RegisterPageHeaderContainer h1{
    text-align: center
}

.RegisterPageInputContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.RegisterPageInputTitleContainer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}
.RegisterPageInputBaseContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RegisterPageButtonContainer{
    width: 50%;
}

.RegisterPageImageContainer{
    flex: 1;
    background-color: aqua;
}

@media (max-width: 768px) {
    .RegisterPageImageContainer {
      display: none;
    }
    .RegisterPageInputContainer {
      width: 80%;
    }
    .RegisterPageButtonContainer {
      width: 80%;
    }
    .RegisterPageHeaderContainer h1 {
      text-align: center;
    }
  }