.HomePageBaseContainer {
  flex: 1;
  display: flex;
  position: relative;
}
.HomePageImageBaseContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "right";
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heroSectionBaseContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  background-color: white;
}
.heroSectionContainerOneBase {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.heroSectionContainerTwoBase {
  width: 100%;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popularDestinationBaseContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: var(--baseColor);
}
.popularDestinationBaseContainer h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  font-size: 30px;
  color: var(--whiteColor);
}

.popularDestinationCardContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 90px 50px;
  gap: 60px;
}
.popularDestinationCardImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
.popularDestinationCardImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.popularDestinationImageContainer {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popularDestinationCardInfo {
  padding: 20px 10px;
  background-color: var(--whiteColor);
}

.offersBaseContainer {
  width: 100%;
  height: 90vh;
  position: relative;
  backdrop-filter: blur(4px);
}
.offersBaseContainer h1 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  color: var(--whiteColor);
}

.offersSectionContainer {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  gap: 60px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offersContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--whiteColor);
  box-shadow: 0 5px 9px var(--borderColor);
  transition: 0.4s ease-in-out;
}
.offersContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.offersIconContainer {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.offersIcon {
  color: var(--baseColor);
}
.offersInfoContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.testimonialsBaseContainer {
  width: 100%;
  height: 90vh;
  background-color: white;
  text-align: center;
}
.testimonialsAbsoluteBaseContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 90vh;
}
.testimonialsAbsoluteBaseOneContainer {
  flex: 1;
  background: linear-gradient(to right, #ffffff, #ffffff00);
}
.testimonialsAbsoluteBaseTwoContainer {
  flex: 1;
  background: linear-gradient(to right, #ffffff00, #ffffff);
}
.testimonialsMainContentBaseContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.testimonialsCardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.testimonialsCard {
  width: 100%;
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.testimonialsCardImageBaseContainer {
  display: flex;
  align-items: center;
}
.testimonialsCardImageContainer {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.testimonialsCardImageTextContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
