.heroSectionBaseContainer {
  width: 100%;
  height: 90vh;
  text-align: center;
  background-color: var(--borderColor);
}
.popularDestinationBaseContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: var(--baseColor);
}
.popularDestinationCardContainer{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 90px 50px;
  gap: 60px;
}
.popularDestinationCardImage{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
.popularDestinationCardImage:hover{
  transform: scale(1.05);
}
.popularDestinationImageContainer{
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popularDestinationCardInfo{
  padding: 20px 10px;
  background-color: var(--whiteColor);
}





.offersBaseContainer {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: var(--borderColor);
}
.offersSectionContainer{
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  align-items: center;
}
.offersIconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}



.testimonialsBaseContainer {
  width: 100%;
  height: 90vh;
  background-color: var(--baseColor);
}
