.customFooterBaseContainer{
    width: 100%;
    color: var(--whiteColor);
    background-color: var(--footerColor);
}
.customFooterContainer{
    width: 100%;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.customFooterSocialMediaLink{
    flex: 1;
}
.cutomFooterQuickLinksContainer{
    flex: 1;
}
.customFooterServicesContainer{
    flex: 1;
}
.customfooterContactUsContainer{
    flex: 1;
}