.customFooterBaseContainer{
    width: 100%;
    color: var(--whiteColor);
    background-color: var(--footerColor);
}
.customFooterContainer{
    width: 100%;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.customFooterSocialMediaLink{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.customFooterSocialMediaIconsContainer{
    display: flex;
    gap: 20px;
}
.cutomFooterQuickLinksContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customFooterQuickLinks{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.customFooterQuickLinks p:hover{
    cursor: pointer;
    color: var(--secondaryColor);
}

.customFooterServicesContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customfooterContactUsContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customFooterContactUs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customFooterContactUsLocation{
    display: flex;
    gap: 5px;
}
.customFooterContactUsCall{
    display: flex;
    text-align: center;
    gap: 10px;
}
.customFooterContactUsEmail{
    display: flex;
    text-align: center;
    gap: 10px;
}