.profilePageBaseContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.profilePageCustomNavbarBaseContainer {
}
.profilePageContentContainer {
  flex: 1;
}
.profilePageContentProfileBaseContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 60px 150px;
  background-color: var(--secondaryColor);
}
.profilePageContentIconContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whiteColor);
  color: var(--baseColor);
}
.profilePageContentNameContainer {
}
.profilePageContentTableBaseContainer {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.profilePageContentTableContainer {
  width: 80%;
  height: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}
.profilePageContentFormBaseContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.profilePageContentFormContainer {
  display: flex;
  flex-direction: column;
}
.profilePageContentAddressContainer {
  grid-column: 1/3;
}

.profilePageCustomFooterBaseContainer {
}
.profilePageButtonContainer {
  align-items: center;
  padding: 10px 30%;
}

.profilePageGenderOptions {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.profilePageGenderOptions label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
