.faqPageBaseContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.faqPageBaseHeaderContainer {
  padding: 40px;
  height: max-content;
  text-align: center;
  background-color: var(--baseColor);
  color: var(--secondaryColor);
}

.faqPageBaseContentItemContainer {
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqPageBaseContentContainer {

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.faqPageBaseContentItemBaseContainer {

}

.faqPageBaseContentItemBaseContainer .questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--baseColor);
}
.faqPageBaseContentItemQueryContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--baseColor);
}

@media (max-width: 768px) {
  .faqPageBaseHeaderContainer {
    font-size: 1.5rem; /* or adjust based on your design */
    padding: 10px;
    text-align: center;
  }

  .faqPageBaseContentContainer {
    font-size: 1rem;
    padding: 10px;
  }

  .faqPageBaseContentItemContainer {
    font-size: 0.95rem;
    padding: 10px;
    line-height: 1.5;
  }

  .faqPageBaseHeaderContainer h1,
  .faqPageBaseHeaderContainer h2 {
    font-size: 1.4rem;
  }

  .faqPageBaseContentItemContainer p {
    font-size: 0.95rem;
  }
}


