.faqPageBaseContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.faqPageBaseHeaderContainer {
  padding: 40px;
  height: max-content;
  text-align: center;
  background-color: var(--baseColor);
  color: var(--secondaryColor);
}

.faqPageBaseContentItemContainer {
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqPageBaseContentContainer {

  display: flex;
  flex-direction: column;
  gap: 40px; /* adds space between all child containers */
  padding: 20px;
}

.faqPageBaseContentItemBaseContainer {

}

.faqPageBaseContentItemBaseContainer .questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--baseColor);
}
.faqPageBaseContentItemQueryContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--baseColor);
}
