.customInputBaseContainer {
    display: flex;
    border: 1.5px solid var(--borderColor);
    padding: 8px 12px;
    border-radius: 25px;
    gap: 10px;
  }
  
  .customInputContainer {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .customInputContainer input {
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    border: none;
  }
  
  .customInputContainer input:focus {
    outline: none;
  }
  
  .customInputContainer input::placeholder {
    color: var(--borderColor);
  }
  
  .customInputIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }