.landingPageBaseContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.landingPageNavbarContainer{
}
.landingPageRouteContainer{
    flex: 1;
    display: flex;
    overflow: auto;
}
.landingPageRouteContainer::-webkit-scrollbar{
    display: none;
}
