.contactUsBaseContainer{ 
    height: 100vh;
    width: 100%;
    text-align: center;
}

.contactUsContainer{
    text-align: center;
}

.contactUsContainer h2{
    padding-bottom: 60px;
}

.contactUsMainContainer{

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

 .credentialsContactUsContainer{
    width: 40%;
    border: round;
    border-radius: 25px; 
    padding: 20px 40px;
    background-color: aliceblue;
}

.socialMediaIconsCredentialsContactUsContainer{
    display: flex;
    gap: 10px;
}

 .formContactUsContainer{
    display: flex;
    gap: 10px;
    width: 40%;
    border: round;
    border-radius: 25px;
    padding: 20px 40px;
    background-color: aliceblue;
    justify-content: center;
    flex-direction: column;
}  