.contactUsBaseContainer{
    flex: 1;
    background-color: var(--whiteColor);
    display: flex;
    padding: 50px;
}

.contactUsContainer{
    flex: 1;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--borderColor);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}    

.contactUsFormContainer{
    flex: 1;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.contactUsInfoContainer{
    position: relative;
    flex: 1;
    display: flex;
}

.contactUsInfoDesignContainer{
    display: flex;
    flex: 1; 
}

.contactUsInfoContainer .infoSecondDesign{
    flex: 1;
    background-color: var(--secondaryColor);
}

.contactUsInfoCredentialsContainer{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    background-color: var(--baseColor);
    color: white;
    padding: 20px;
}