.baggageTrackingBaseContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.baggageTrackingBaseContainer, h2, p{
    text-align: center;
    padding: 5px;
}
.baggageTrackingInputBaseContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    background-color: aqua;
}

.baggageTrackingInputContainer {
    width: 50%;
    background-color: aquamarine;
}
.baggageTrackingInformationBaseContainer{
    flex: 4;
}