.baggageTrackingBaseContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.baggageTrackingBaseContainer h2 p{
    text-align: center;
    padding: 5px;
}
.baggageTrackingInputBaseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
}
.baggageTrackingInputContainer {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #DDD ;
}
.baggageTrackingInformationBaseContainer{
    width: 100%;
    padding-top: 20px;
}
.baggageTrackingInformationContainer{
    border-top: 1px solid var(--grayColor);
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 0px;
    padding-top: 10px;
}
.baggageTrackingInformationItemContainer{
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(5, 1fr);
    padding: 2px;
}