:root {
  --baseColor: #030027;
  --secondaryColor: #ddba87;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --blackColorDim: #00000088;
  --borderColor: #cccccc;
  --disableColor: #f0f0f0;
  --grayColor: #999999;
  --footerColor: #111929;
  --redColor: #dd2624;
  --greenColor: #2a985f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}