:root {
  --baseColor: #09250c;
  --secondaryColor: #ff9a17;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}