.aboutUsBaseContainer {
    width: 100%;
}
.aboutUsImageBaseContainer{
    position: relative;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutUsInfoContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: var(--blackColorDim);
}
.aboutUsMissionBaseContainer{

}
.aboutUsMissionTextContainer{
    text-align: center;
}
.aboutUsMissionAnimationContainer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: var(--whiteColor);
    background-color: var(--baseColor);
}
.aboutUsMissionCardContainer{

}
.aboutUsMissionTitle{

}
.aboutUsMissionDescription{

}
.aboutUsOurValuesBaseContainer{

}
.aboutUsValuesHeading{
    padding-top: 60px;
    text-align: center;
}
.aboutUsValuesCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 80px;
    gap: 60px;
}
.aboutUsValuesContainer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(112, 102, 102, 0.1);
    transition: 0.4s ease-in-out;
    border-radius: 25px;
}
.aboutUsValuesContainer:hover{
    transform: translateY(-30px);
    cursor: pointer;
}