.customButtonBaseContainer {
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .customButtonBaseContainer:hover {
    cursor: pointer;
  }